{% load staticfiles %}
{% load bootstrap4 %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block meta %}
    {% endblock %}

    {% bootstrap_css %}

    {% bootstrap_messages %}

    <title>{% block title %}{% endblock %}</title>

    {% block css %}
    {% endblock %}
  </head>
  <body>
    
    {% block content %}
    {% endblock %}

    {% bootstrap_javascript jquery='full' %}

    {% block js %}
    {% endblock %}

  </body>
</html>